[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
pyhamcrest = "*"

[packages]
django = "*"
django-rest-framework = "*"
uwsgi = "*"
psycopg2 = "*"
django-extensions = "*"

[requires]
python_version = "3.7"
